@using AdminLTEApp.Models
@model ApplicationRole
@{
    ViewData["Title"] = "Delete Role";
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Delete Role</h3>
            </div>
            <div class="card-body">
                <h4>Are you sure you want to delete this role?</h4>
                <dl class="row">
                    <dt class="col-sm-3">Name</dt>
                    <dd class="col-sm-9">@Model.Name</dd>

                    <dt class="col-sm-3">Description</dt>
                    <dd class="col-sm-9">@Model.Description</dd>
                </dl>

                <form asp-action="DeleteConfirmed" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>